# === never commit secrets ===
.pi/agent/auth.json
.pi/agent/sessions/
.pi/agent/*.token
.pi/agent/*.secret

.pi/agent/*
.pi/npm/*

# safe pi agent files
!.pi/agent/model-router.json
!.pi/agent/models.json
!.pi/agent/settings.json
!.pi/agent/my-pi-settings.json
!.pi/agent/mcp.json
!.pi/agent/.gitignore

# === other exclusions ===
.cargo/
old-scripts/
.config/nushell/history.txt

