[user]
	email = googlillo@gmail.com
	name = marcelarie

[pager]
    ; diff = ?
    ; log = ?
    ; reflog = ?
    ; show = diff

; [interactive]
;     diffFilter = delta --color-only --features=interactive

; [credential]
; 	helper = /usr/bin/git-credential-manager-core

; [credential "https://dev.azure.com"]
; 	useHttpPath = true

[init]
	defaultBranch = main
[merge]
    conflictstyle = zdiff3

[diff]
	algorithm = histogram
	tool = difftastic
	external = difft

; [difftool]
; 	prompt = false
;
; [difftool "difftastic"]
;    cmd = difft "$LOCAL" "$REMOTE"

; [commit]
; 	template = ~/.gitmessage

[core]
	editor = nvim
	; pager = /sbin/moar --no-statusbar 

[safe]
	directory = ~/.nixpkgs/
	directory = /etc/nix

[pull]
	rebase = false

[branch]
	autoSetupMerge = always

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[maintenance]
	repo = $HOME
; [gpg]
; 	program = $HOME/scripts/gpg-pinetry-loopback.sh
[help]
	autocorrect = prompt

[includeIf "gitdir:~/clones/work/"]
	path = ~/.gitconfig-work

