[include]
    path = /home/marcel/.config/delta/themes.gitconfig

[user]
	email = googlillo@gmail.com
	name = marcelarie

[pager]
    ; diff = delta
    ; log = delta
    ; reflog = delta
    ; show = diff

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    navigate = true
    ; features =  calochortus-lyallii
    ; side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

; [credential]
; 	helper = /usr/bin/git-credential-manager-core

; [credential "https://dev.azure.com"]
; 	useHttpPath = true

[init]
	defaultBranch = main
[merge]
    conflictstyle = zdiff3

[diff]
	algorithm = histogram
	tool = difftastic
	external = difft

; [difftool]
; 	prompt = false
;
; [difftool "difftastic"]
;    cmd = difft "$LOCAL" "$REMOTE"

; [commit]
; 	template = ~/.gitmessage

[core]
	editor = nvim
	; pager = /sbin/moar --no-statusbar 

[safe]
	directory = ~/.nixpkgs/
	directory = /etc/nix

[pull]
	rebase = false

[branch]
	autoSetupMerge = always

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[maintenance]
	repo = $HOME
; [gpg]
; 	program = $HOME/scripts/gpg-pinetry-loopback.sh
[help]
	autocorrect = prompt
